/**
 * This file was generated automatically by Supernova.io and should not be changed manually.
 * To modify the format or content of this file, please contact your design system team. 
 */

.theme-portal {
  --dscolorprimarycolorforegroundneutral: #000001;
  --dscolorprimarycolorforegroundneutralfaded: #66728a;
  --dscolorprimarycolorforegroundprimary: #1a58d0;
  --dscolorprimarycolorforegroundcritical: #be0021;
  --dscolorprimarycolorforegroundwarning: #ac3500;
  --dscolorprimarycolorforegroundpositive: #00792d;
  --dscolorprimarycolorforegroundupgrade: #7400ef;
  --dscolorprimarycolorforegrounddisabled: #a2aec8;
  --dscolorprimarycolorforegroundneutralplaceholder: #8390a9;
  --dscolorprimarycolorbackgroundelevationbase: #ffffff;
  --dscolorprimarycolorbackgroundelevationraised: #feffff;
  --dscolorprimarycolorbackgroundelevationoverlay: #feffff;
  --dscolorprimarycolorbackgroundneutral: #6061620f;
  --dscolorprimarycolorbackgroundneutralfaded: #60616208;
  --dscolorprimarycolorbackgroundneutralhighlighted: #60616217;
  --dscolorprimarycolorbackgroundpage: #ffffff;
  --dscolorprimarycolorbackgroundpagefaded: #f8f9fb;
  --dscolorprimarycolorbackgroundprimary: #104fc6;
  --dscolorprimarycolorbackgroundprimaryhighlighted: #0038ae;
  --dscolorprimarycolorbackgroundprimaryfaded: #45adff17;
  --dscolorprimarycolorbackgroundcritical: #c50027;
  --dscolorprimarycolorbackgroundcriticalhighlighted: #ac000f;
  --dscolorprimarycolorbackgroundcriticalfaded: #ff2b5317;
  --dscolorprimarycolorbackgroundwarning: #d0571e;
  --dscolorprimarycolorbackgroundwarninghighlighted: #b84100;
  --dscolorprimarycolorbackgroundwarningfaded: #ff6a0017;
  --dscolorprimarycolorbackgroundpositive: #008236;
  --dscolorprimarycolorbackgroundpositivehighlighted: #006d21;
  --dscolorprimarycolorbackgroundpositivefaded: #00e65717;
  --dscolorprimarycolorbackgroundupgrade: #7f22fe;
  --dscolorprimarycolorbackgroundupgradehighlighted: #6d00e5;
  --dscolorprimarycolorbackgroundupgradefaded: #d45dff17;
  --dscolorprimarycolorbackgroundblur: #ffffffeb;
  --dscolorprimarycolorbackgroundblurneutral: #f4f5f7f2;
  --dscolorprimarycolorbackgroundblurneutralhighlighted: #f1f2f4eb;
  --dscolorprimarycolorbackgrounddisabled: #6061620f;
  --dscolorprimarycolorbackgrounddisabledfaded: #141a2b05;
  --dscolorprimarycolorbackgroundfocushighlight: #d0e2ff;
  --dscolorprimarycolorborderneutral: #00000026;
  --dscolorprimarycolorborderneutralfaded: #00000013;
  --dscolorprimarycolorborderprimary: #1a58d0;
  --dscolorprimarycolorborderprimaryfaded: #5699ff4d;
  --dscolorprimarycolorbordercritical: #be0021;
  --dscolorprimarycolorbordercriticalfaded: #ff595d4d;
  --dscolorprimarycolorborderwarning: #ac3500;
  --dscolorprimarycolorborderwarningfaded: #f175414d;
  --dscolorprimarycolorborderpositive: #00792d;
  --dscolorprimarycolorborderpositivefaded: #50b7694d;
  --dscolorprimarycolorborderupgrade: #7400ef;
  --dscolorprimarycolorborderupgradefaded: #ac67ff4d;
  --dscolorprimarycolorborderdisabled: #dfe2ea;
  --dscolorprimarycolorborderfocus: #1a58d0;
  --dscolorprimarycolorborderfocusfaded: #5699ff4d;
  --dscolorprimarycoloronbackgroundneutral: #000000;
  --dscolorprimarycolorpersistentblack: #000000;
  --dscolorprimarycolorforegrounddecorativeblue: #0059d6;
  --dscolorprimarycolorbackgrounddecorativebluefaded: #15afff17;
  --dscolorprimarycolorborderdecorativebluefaded: #4699ff4d;
  --dscolorprimarycolorforegrounddecorativecyan: #007592;
  --dscolorprimarycolorbackgrounddecorativecyanfaded: #00dfff17;
  --dscolorprimarycolorborderdecorativecyanfaded: #00b4d24d;
  --dscolorprimarycolorforegrounddecorativefuchsia: #a800c2;
  --dscolorprimarycolorbackgrounddecorativefuchsiafaded: #ff00ff17;
  --dscolorprimarycolorborderdecorativefuchsiafaded: #ed3bff4d;
  --dscolorprimarycolorforegrounddecorativegreen: #008000;
  --dscolorprimarycolorbackgrounddecorativegreenfaded: #00ee2017;
  --dscolorprimarycolorborderdecorativegreenfaded: #00c04c4d;
  --dscolorprimarycolorforegrounddecorativegrey: #53647e;
  --dscolorprimarycolorbackgrounddecorativegreyfaded: #80bfff17;
  --dscolorprimarycolorborderdecorativegreyfaded: #8da0bb4d;
  --dscolorprimarycolorforegrounddecorativelightgrey: #636363;
  --dscolorprimarycoloronbackgroundprimary: #ffffff;
  --dscolorprimarycolorbackgrounddecorativelightgreyfaded: #bebebe17;
  --dscolorprimarycoloronbackgroundcritical: #ffffff;
  --dscolorprimarycoloronbackgroundwarning: #ffffff;
  --dscolorprimarycoloronbackgroundpositive: #ffffff;
  --dscolorprimarycoloronbackgroundupgrade: #ffffff;
  --dscolorprimarycolorpersistentwhite: #ffffff;
  --dscolorprimarycolordecorativelightgreyborder: #edeff3;
  --dscolorprimarycolorforegrounddecorativeorange: #aa3a00;
  --dscolorprimarycolorbackgrounddecorativeorangefaded: #ff780017;
  --dscolorprimarycolorborderdecorativeorangefaded: #ef7a004d;
  --dscolorprimarycolorforegrounddecorativepink: #bd006c;
  --dscolorprimarycolorbackgrounddecorativepinkfaded: #ff00cb17;
  --dscolorprimarycolorforegrounddecorativepurple: #722adc;
  --dscolorprimarycolorbackgrounddecorativepurplefaded: #d371ff17;
  --dscolorprimarycolorborderdecorativepurplefaded: #ab73ff4d;
  --dscolorprimarycolorborderdecorativepinkfaded: #ff46a84d;
  --dscolorprimarycolorforegrounddecorativered: #c80000;
  --dscolorprimarycolorbackgrounddecorativeredfaded: #ff000017;
  --dscolorprimarycolorborderdecorativeredfaded: #ff4a3d4d;
  --dscolorprimarycolorforegrounddecorativeteal: #007b68;
  --dscolorprimarycolorbackgrounddecorativetealfaded: #00ebc817;
  --dscolorprimarycolorborderdecorativetealfaded: #00baa44d;
  --dscolorprimarycolorforegrounddecorativeyellow: #8a5900;
  --dscolorprimarycolorbackgrounddecorativeyellowfaded: #fff00017;
  --dscolorprimarycolorborderdecorativeyellowfaded: #c996004d;
  --dscolorprimarycolorprimaryprimary200: #edf5ff;
  --dscolorprimarycolorprimaryprimary400: #d0e2ff;
  --dscolorprimarycolorprimaryprimary500: #8cb4ff;
  --dscolorprimarycolorprimaryprimary600: #0f62fe;
  --dscolorprimarycolorprimaryprimary700: #004ee1;
  --dscolorprimarycolorprimaryprimary800: #104fc6;
  --dscolorprimarycolorredred100: #fef1f2;
  --dscolorprimarycolorredred600: #cb101d;
  --dscolorprimarycolorwhite: #ffffff;
  --dscolorprimarycolorneutralneutral100opaque: #141a2b05;
  --dscolorprimarycolorneutralneutral200opaque: #182d660a;
  --dscolorprimarycolorneutralneutral400: #606981;
  --dscolorprimarycolorneutralneutral500: #c7cddb;
  --dscolorprimarycolorneutralneutral900: #14171f;
  --dscolorprimarycolorgreengreen100: #ebfef6;
  --dscolorprimarycolorgreengreen600: #05751f;
  --dscolorprimarycolorpurplepurple100: #f5f2fd;
  --dscolorprimarycolorpurplepurple600: #874ce6;
  --dscolorprimarycolorpurplepurple700: #6a2bbf;
  --dscolorprimarycolororangeorange100: #fef8eb;
  --dscolorprimarycolororangeorange200: #fbe5c5;
  --dscolorprimarycolororangeorange500: #cc4d00;
  --dscolorprimarycolororangeorange600: #b53c0a;
  --dscolorprimarycolorneutralblack: #000000;
  --dscolorprimarycolorneutral900: #212529;
  --dscolorprimarycolorblue900: #001733;
  --dscolorprimarycolorblue800: #002f66;
  --dscolorprimarycolorblue700: #004899;
  --dscolorprimarycolorblue600: #0061cc;
  --dscolorprimarycolorblue500: #007aff;
  --dscolorprimarycolorblue400: #3b98ff;
  --dscolorprimarycolorblue300: #75b6ff;
  --dscolorprimarycolorblue200: #b0d5ff;
  --dscolorprimarycolorblue100: #ebf4ff;
  --dscolorprimarycolorpurple900: #020a33;
  --dscolorprimarycolorpurple800: #0c1a66;
  --dscolorprimarycolorpurple700: #1d2f99;
  --dscolorprimarycolorpurple600: #354acb;
  --dscolorprimarycolorpurple500: #556aeb;
  --dscolorprimarycolorpurple400: #6e82fe;
  --dscolorprimarycolorpurple300: #8fa0ff;
  --dscolorprimarycolorpurple200: #b9c4ff;
  --dscolorprimarycolorpurple100: #ebefff;
  --dscolorprimarycolororange900: #332200;
  --dscolorprimarycolororange800: #664200;
  --dscolorprimarycolororange700: #996000;
  --dscolorprimarycolororange600: #cc7c00;
  --dscolorprimarycolororange500: #ff9500;
  --dscolorprimarycolororange400: #ffb23b;
  --dscolorprimarycolororange300: #ffcc75;
  --dscolorprimarycolororange200: #ffe3b0;
  --dscolorprimarycolororange100: #fff8eb;
  --dscolorprimarycolorneutral800: #343a40;
  --dscolorprimarycolorneutral700: #495057;
  --dscolorprimarycolorneutral600: #6c757d;
  --dscolorprimarycolorneutral500: #adb5bd;
  --dscolorprimarycolorneutral400: #ced4da;
  --dscolorprimarycolorneutral300: #dee2e6;
  --dscolorprimarycolorneutral200: #e9ecef;
  --dscolorprimarycolorneutral100: #f8f9fa;
  --dscolorprimarycolorblack: #000000;
  --dscolorprimarycolorwhite: #ffffff;
  --dscolorprimarycolorforegroundprimaryfaded: #406ec5;
  --dscolorprimarycolorforegroundcriticalfaded: #bd4143;
  --dscolorprimarycolorforegroundwarningfaded: #a95836;
  --dscolorprimarycolorforegroundpositivefaded: #448251;
  --dscolorprimarycolorforegroundupgradefaded: #7d44e9;
  --dscolorprimarycolorbackgroundblurneutralfaded: #f8f9fbeb;
  --dscolorprimarycolorbackgrounddecorativeblue: #2b7fff;
  --dscolorprimarycolorbackgrounddecorativecyan: #00d3f2;
  --dscolorprimarycolorbackgrounddecorativeteal: #00d5be;
  --dscolorprimarycolorbackgrounddecorativegreen: #31de69;
  --dscolorprimarycolorbackgrounddecorativeyellow: #fcc801;
  --dscolorprimarycolorbackgrounddecorativeorange: #ff8904;
  --dscolorprimarycolorbackgrounddecorativered: #fb2e27;
  --dscolorprimarycolorbackgrounddecorativepink: #f6339a;
  --dscolorprimarycolorbackgrounddecorativefuchsia: #e12afb;
  --dscolorprimarycolorbackgrounddecorativepurple: #8e51ff;
  --dscolorprimarycolorbackgrounddecorativegrey: #62748e;
  --dscolorprimarycolorbackgrounddecorativelightgrey: #d4d4d4;
  --dscolorprimarycoloronbackgrounddecorativeblue: #ffffff;
  --dscolorprimarycoloronbackgrounddecorativecyan: #001e3a;
  --dscolorprimarycoloronbackgrounddecorativeteal: #002116;
  --dscolorprimarycoloronbackgrounddecorativegreen: #002500;
  --dscolorprimarycoloronbackgrounddecorativeyellow: #421100;
  --dscolorprimarycoloronbackgrounddecorativeorange: #350000;
  --dscolorprimarycoloronbackgrounddecorativered: #ffffff;
  --dscolorprimarycoloronbackgrounddecorativepink: #ffffff;
  --dscolorprimarycoloronbackgrounddecorativefuchsia: #ffffff;
  --dscolorprimarycoloronbackgrounddecorativepurple: #ffffff;
  --dscolorprimarycoloronbackgrounddecorativegrey: #ffffff;
  --dscolorprimarycoloronbackgrounddecorativelightgrey: #262626;
  --dscolorprimarycolorborderdecorativeblue: #0059d6;
  --dscolorprimarycolorborderdecorativecyan: #007592;
  --dscolorprimarycolorborderdecorativeteal: #007b68;
  --dscolorprimarycolorborderdecorativegreen: #008000;
  --dscolorprimarycolorborderdecorativeyellow: #8a5900;
  --dscolorprimarycolorborderdecorativeorange: #aa3a00;
  --dscolorprimarycolorborderdecorativered: #c80000;
  --dscolorprimarycolorborderdecorativepink: #bd006c;
  --dscolorprimarycolorborderdecorativefuchsia: #a800c2;
  --dscolorprimarycolorborderdecorativepurple: #722adc;
  --dscolorprimarycolorborderdecorativegrey: #53647e;
  --dscolorprimarycolorborderdecorativelightgrey: #636363;
  --dscolorprimarycolorborderdecorativelightgreyfaded: #9e9e9e4d;
  --dscolorprimarycolororangeorange400: #ff9250;
}